.App {
  text-align: center;
  color: #000000CC
}

@font-face {
  font-family: vazir;
  src: url(font/vazir-font-v16.1.0/Vazir-Bold.woff2);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: vazir;
}